@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* === INITIAL === */

body {
    padding-top: 100px;
    height: 100vh;
    background:#434352;
}

.container {
    width: 1200px;
    height: 500px;
    display: flex;
    background-position-y: bottom;
    background-image: url("../assets/City4_pale.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.main-cont {
    display: flex;
    justify-content: center;
}

#character {
    width: 100px;
    height: 150px;
    left: 100px;
    top: 320px;
    background-image: url("../assets/character-standing.gif");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

#block {
    width: 100px;
    height: 150px;
    left: 900px;
    top: 320px;
    background-image: url("../assets/enemy-standing.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.paused{
    animation-play-state: paused !important;
}

/* === ANIMATIONS === */

.slide {
    animation: slide 1s infinite linear;
}

.jump {
    animation: jump 0.5s linear;
}

@keyframes slide {
    from {
        left: 900px;
    }

    to {
        left: -130px;
    }
}

@keyframes jump {
    0% {
        top: 320px;
    }

    30% {
        top: 150px;
    }

    50% {
        top: 150px;
    }

    70% {
        top: 150px;
    }

    100% {
        top: 320px;
    }

}

/* === COMMANDS === */

.sizing-start {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.start-btn {
    background-color: #4ae4a5;
    color: #333333;
    padding: 30px;
    border-radius: 45px;
    border: 0;
    margin: 20px;
    font-size: 3em;
    font-family: 'Press Start 2P', cursive;
}

/* === DISPLAY RESULTS === */

.sizing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#your-score,
#your-record {
    font-family: 'Press Start 2P', cursive;
    color: white;
}

#score {
    font-family: 'Press Start 2P', cursive;
    color: white;
}